*{
    background:cornflowerblue;
}
header h1{
    display: flex;
    text-align: center;
    justify-content: center;
}
header span{
    display: flex;
    text-align: center;
    justify-content: center;
}
header a{
    text-decoration: none;
    color: black;
    background-color: cornflowerblue;
}
header a:hover{
    text-decoration: underline;
}

main{
    background-color:rgb(122, 166, 247);
}
main h2{
    background-color:rgb(122, 166, 247);
    text-align: center;
}

main div{
    background-color: rgb(122, 166, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}

main p{
    background-color:rgb(122, 166, 247);
}

main h3, a, strong{
    background-color:rgb(122, 166, 247);
}



footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul{
    list-style: none; 
}
footer a{
    background-color: cornflowerblue;
    text-decoration: none;
    color: black;
}
footer a:hover{
    text-decoration: underline;
}